/* Paul Irish reset */
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Header area */
.header {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  height: 75px;
}

.logo {
  flex-basis: 350px;
  min-width: 240px;
}

.header-navigation {
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
}

.header-nav-link {
  margin-right: 25px;
}

/* Main banner */
.main-banner {
  background-color: lightsalmon;
  background: url(./images/book-banner2.png);
  background-size: cover;
  height: 300px;
  color: whitesmoke;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner-tagline {
  margin-top: 40px;
  margin-left: 40px; 
}

.banner-button {
  margin-top: calc((300px - 35px)/2);
  margin-right: 25%;
  padding: 10px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.banner-button:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

.banner-button:active {
  background-color: darkgrey;
  color: white;
  box-shadow: 3px 3px 8px rgba(125, 125, 125, 0.4);
}

/* Product sections */
.product-section {
  padding: 25px 0;
}

.product-row-title {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
  text-shadow:rgba(0, 0, 0, 0.5);
}

.product-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-container {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image {
  width: 100%;
  min-width: 150px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.book-link {
  margin-top: 8px;
}

/* About us */
.about-us {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading heading"
    "text1 img1"
    "text2 img2";
  grid-gap: 20px;
  padding: 25px 0;
}

.about-us-heading {
  grid-area: heading;
  text-align: center;
}

.about-us-image-block {
  height: 100px;
  width: 80%;
  display: inline-block;
  background-color: lightgoldenrodyellow;
}

.about-us-image-block.img-1 {
  grid-area: img1;
}

.about-us-image-block.img-2 {
  grid-area: img2;
}

.about-us-text-block {
  width: 80%;
  text-align: center;
}

.about-us-text-block.text-1 {
  grid-area: text1;
}

.about-us-text-block.text-2 {
  grid-area: text2;
}

/* Footer */
.footer {
  background-color: lightgreen;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-nav-link {
  margin: 0 12px;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}